* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background: linear-gradient(135deg, rgba(40, 126, 198, 0.8), rgba(255, 71, 71, 0.8)), url('1.jpg') no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: Helvetica;
    margin: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 40px;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 15px;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 12px;
    border: none;
    border-bottom: 1px solid #888;
    margin-top: 10px;
    outline: none;
    font-size: 16px;
}

.button {
    border: none;
    background-color: #008CBA;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005f73;
}

p {
    text-align: center;
}

