*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}
.site-header { 
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .6em 0;
  display: inline-block;
}


.site-navigation ul, 
.site-navigation li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}
body{
    background: url(1.jpg) no-repeat;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: Helvetica;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-left: 900px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 40px;
    font-size: 40px;
}

p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(137, 137, 137);
    margin-top: 15px;
    outline: none;
}

.button{
    border: none;
    background-color: rgb(40, 126, 198);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}
